.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

h1, h2 {
  color: rgba(0, 62, 31);
  font-family: sans-serif;
}
p {
  color:rgba(35, 47, 87);
  font-family: 'Raleway', sans-serif;
}
ul {
  color:rgba(35, 47, 87);
  font-family: 'Raleway', sans-serif;
}
img {
	border: solid 3px grey;
	text-align: center;
}

/*Using the html class attribute selector */
.white-box {
	background-color: white;
	padding: 30px;
	margin: 30px;
	border-radius: 5px;
    box-shadow: 2px 2px rgba(50, 50, 50, 0.7);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}
