.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

h1, h2 {
  color: rgba(0, 62, 31)
}
p {
  color:rgba(35, 47, 87)
}
ul {
  color:rgba(35, 47, 87)
}
